/* ------------------------------------- */
/* ---------  Table of Contents  ------- */
/* ------------- *Global Variables------ */
/* ------------- *App ------------------ */
/* ------------- *Hero ----------------- */
/* ------------- *Header + NavBar ------ */
/* ------------- *Cards ---------------- */
/* ------------- *Buttons + Tabs ------- */
/* ------------- *Dropdowns      ------- */
/* ------------- *Keyframes ------------ */
/* ------------- *Font ----------------- */
/* ------------- *Tables---------------- */
/* ------------- *Layouts--------------- */
/* ------------------------------------- */
html {
        background-color: var(--lgreen);

    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
body {
    margin-bottom: 5rem;
        background-color: var(--lgreen);

}
:root {
    --lgreen: #85b135;
    --dgreen: #284d1d;
    --lorange: #ee9922;
    --dorange: #ee662e;
    --yellow: #e4c800;
    --light: #f5f5f5;
}
/* ------------------------------------- */
/* ------------     App     ------------ */
/* ------------------------------------- */
.App {
    text-align: center;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
.App-header {
        background-color: var(--lgreen);

    min-height: ppvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--lgreen);
}
.App-link {
    color: #61dafb;
}
/* ------------------------------------- */
/* ------------     Hero     ----------- */
/* ------------------------------------- */
.hero.is-success .tabs.is-boxed a:hover,
.hero.is-success .tabs.is-toggle a:hover {
    background-color: rgba(10, 10, 10, 0.5);
}
.hero-body,
.hero-foot,
.hero-head {
        background-color: var(--lgreen);

}
.hero-body {
    flex-grow: 6;
    flex-shrink: 1;
    padding: 2.25rem;
}
.hero.is-success {
        background-color: var(--lgreen);


}
/* .hero-head {
    /* padding: 1%; */
/* margin-bottom: 3%; */
/* ------------------------------------- */
/* -------    Header + NavBar     ------ */
/* ------------------------------------- */
.hero.is-success, .container {
        background-color: var(--lgreen);


}
.headerImage {
    height: 50%;
    width: 50%;
    padding: 2.25rem;
}
.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
    align-items: stretch;
    display: unset;
}
.navbar {
    min-height: 2.25rem;
}
/* ------------------------------------- */
/* ------------- *Cards ---------------- */
/* ------------------------------------- */
.card-content {
    background-color: transparent;
    padding: 0.2rem;
    color: var(--light);
    text-align: center;
    margin-top: 3%;
}

.card-image{
    border-radius: 4px;
    padding: 4px;
}

.card-foot {
    background-color: transparent;
    align-items: stretch;
    display: flex;
    border-radius:3px;
        position:absolute;
    bottom:0;
 width: 100%;
}



.card-content {
    color: white;
    border: none;
    height: 70px;
    margin-bottom:60px;
}
.card-header {
    background-color: var(--lorange);
    color: var(--light);
    display: flex;
    flex-grow: 1;
    font-size: 16px;
    font-weight: bolder;
    margin: 2px 4px; 
    border-color: white;
}
.card {
    overflow: hidden;
    content: "\f70e";
    width:320px;
    height:430px;
   
    /* position:relative; */
}
/* ------------------------------------- */
/* -------    Buttons + Tabs      ------ */
/* ------------------------------------- */

.button{
    border-color: black;
}
.button.is-warning {
    background-color: var(--yellow);
    color: rgba(0, 0, 0);
    font-weight: bolder;
}
 
.save-button {
    background-color: var(--dgreen);
    color: var(--light);
    font-weight: bolder;
}
.delete-button {
    background-color: red;
    color: var(--light);
    font-weight: bolder;
}
.details-button {
    background-color: var(--yellow);
    color: black;
    font-weight: bolder;
}

.li.a{
    height:15%;
}

/* ------------------------------------- */
/* -------    Misc Components     ------ */
/* ------------------------------------- */
.has-text-centered {
    text-align: left;
}
/* ------------------------------------- */
/* -------       Keyframes        ------ */
/* ------------------------------------- */
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* ------------------------------------- */
/* -------         Font           ------ */
/* ------------------------------------- */
.caption {
    background-color: var(--lgreen);
    font-weight: bold;
    border: var(-lgreen);
    border-style: none;
    padding: 0 5%;
    color: #444444;
}
h1 {
    font-size: 24px;
    color: var(--dgreen);
    font-weight: 700;
}
h2 {
    font-size: 16px;
    color: var(--dgreen);
    font-weight: 700;

}
.has-text-centered {
    text-align: 478843;
}
.input,
.select select,
.textarea {
    background-color: #fff;
    border-color: #ee662e;
    border-width: 3px;
    color: black;
    -webkit-text-stroke-width: medium;
}
.content {
    border-color: var(--dgreen);
}
/* ------------------------------------- */
.table-row-hover-background-color {
    background-color: var(--lorange);
    color: black;
}
.missingTable,
.ingredientsTable,
.nutritionTable,
.card-header-title .card.details {
    margin-bottom: 3%;
    margin-top: 3%;
}
.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background-color: var(--dgreen);
    color: var(--light);
}
.table thead {
    background-color: var(--lorange);
    color: black;
    font-weight: bold;
    border-color: black;
}
.Inst-table {
    border: none;
}
.table {
        background-color: var(--lgreen);


    color: black;
}
.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background-color: var(--dgreen);
    color: black;
}
.td {
    font-weight: bold;
}
.instructions {
    padding: 0 2%;
    font-size: large;
}
.card-instructions {
    background-color: #fff;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    margin-top: 4%;
}

.backgroundimage{
        background-color: var(--lgreen);

}